.App {
  text-align: center;
  height: 80vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.cell-container {
  display: flex;
  flex-direction: column-reverse;
}

.cell {
  background-color: burlywood;
  margin: 2px;
  color: brown;
}

button {
  border: none;
  color: white;
  cursor: pointer;
  margin: 2px;
}

button:focus {
  outline: none;
}

.raise {
  background-color: darkcyan;
}

.lower {
  background-color: chocolate;
}

.set-height input {
  width: 5em;
}

.set-height button {
  background-color: navy;
}
